<nav class="main-menu">
  <ul>
    <li class="has-subnav">
      <a href="#">
        <%= icon('search') %>
        <span class="nav-text">search</span>
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <%= icon('plus') %>
        <span class="nav-text">create</span>
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <%= icon('user-circle-o') %>
        <span class="nav-text">profile</span>
      </a>
    </li>

  <li>
    <a href="#">
      <%= icon('comment-o') %>
      <span class="nav-text">history</span>
    </a>
  </li>
</ul>
</nav>
