<div class="container top-navbar">
  <div class="row clearfix">
    <h2 class="top-navbar__title">Recent Traits</h2>
  </div>
  <div class="row clearfix">
    <ul class="top-navbar__traits">
      <li class="pull-left col-xs-2 col-xs-offset-1">silly</li>
      <li class="pull-left col-xs-2">agressive</li>
      <li class="pull-left col-xs-2">juvenile</li>
      <li class="pull-left col-xs-2">vulnerable</li>
      <li class="pull-left col-xs-2">gregarious</li>
      <li class="pull-left col-xs-2">determined</li>
      <li class="pull-left col-xs-2">ambitious</li>
    </ul>
  </div>
  <div class="row clearfix">
    <div class="col-xs-14">
      <p class="top-navbar__searched">MOST <span>Aggressive, Protective</span></p>
    </div>
    <div class="col-xs-2">
      <div class="top-navbar__search-icon">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <p class="top-navbar__searched">LEAST</p>
    </div>
  </div>
</div>
