.form__title {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 24px;
color: #4A4A4A;
}

.form__field {
  background: #F5F5F5;
  border: none;
  font-size: 18px;
  color: #BBBBBB;
}
