@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  width: 100%;
}

.main {
    transition: margin-left .1s;
    min-height: 100vh;
}

.side-margin {
  margin-left: 193px;
}

