@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  border: 1px solid black;
}

.main {
    transition: margin-left .1s;
    padding-left: 60px;
}

.side-margin {
  margin-left: 60px;
}
